body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url("../images/Melbourne.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-weight: 700;
  font-size: 84px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 36px;
  font-style: normal;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: capitalize;
  background-color: white;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
}

section {
  margin: 0 auto;
  padding: 50px;
}

main h2 {
  font-weight: 700;
  font-style: bold;
  opacity: 0.3;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  margin: 0;
}

main p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(36, 32, 68, 0.7),
      rgba(36, 32, 68, 0.9)
    ),
    url("../images/footer-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer a {
  color: white;
  font-size: 16px;
}

h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  margin: 0;
}

h5 {
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.secondary-section {
  background-color: #f8f8f8;
}

.text-center {
  text-align: center;
}

.grid-3-columns-even {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
}

.grid-3-columns-even p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.card {
  background-color: white;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 40px 40px 0 40px;
}

.card-footer {
  margin: 30px;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
  margin: 0;
}

.img-responsive {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-uneven {
  grid-template-columns: 1fr 2fr 2fr;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

@media (max-width: 960px) {
  header {
    padding: 60px;
  }

  header h1 {
    font-size: 42px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 14px;
  }

  main h3 {
    font-size: 20px;
    text-align: center;
  }

  main h2 {
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
  }

  main p {
    font-size: 14px;
    text-align: center;
  }

  footer {
    padding: 0;
  }

  footer h3 {
    font-size: 11px;
  }

  footer p {
    font-size: 11px;
    text-align: center;
  }

  footer a {
    font-size: 11px;
  }

  footer li {
    line-height: 1;
    text-align: center;
  }

  section {
    padding: 25px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .img-responsive {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
